body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.container{
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  background-color:#434d89;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-block:hover {
    background-color: #ffffff;
    color: #434d89;
    border-color: #434d89;

}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border-color: #333333;
}
.btn-sm:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #1b1b1b;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #434d89;
  color: #ffffff;

}
.btn-primary {
  color: #ffffff;
  background-color: #434d89;
  border-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #434d89;
  background-color: #ffffff;
  border-color: #434d89;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #434d89;
}