@model IEnumerable<Download.Models.Product>
@using Download.Models

@{
    ViewBag.Title = "Index";

}

<div style="background-color: #434d89; border: 2px solid #ffffff; padding-left: 2em; " class="text-white">
    <h2>Welcome to Stone Fin Tech Downloads!</h2>
    @if (User.IsInRole("admin") == true || User.IsInRole("member") == true)
    {
        @*
            Don't display teaser becuase members and admins have full access to 
            downloadable stuff
        *@
    }
    else if (User.IsInRole("non-validated memeber"))
    {
           <div class="body-content text-muted" style="font-size: 20px">
        Your account is currently in the process of being verified.
    </div> 
    }
    else { 
    <div class="body-content text-muted" style="font-size: 20px">
        Log in and get verified to gain access to
        even more awesome downloadable stuff!
    </div>
    }
    <br />
</div>
<br />
<div>
    @Html.Partial("_SearchPartial")
</div>