@model Download.Models.Product

@{
    ViewBag.Title = "Remove";
}
<h2>Remove</h2>
<div style="background-color: rgba(255, 255, 255, 0.30)">
    <h3>Are you sure you want to remove @Model.ProductName?</h3>
    <hr />
    <h4>This will NOT perminately delete the item from the database, it will only make the item invisible to all users. If you want to perminately delete this item,
    use the Delete button.  In order to restore a removed item, you must manually go into the database and change the status column</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

